/* Header */
.header {
    text-align: left;
    padding: 0;
}

.logo-button {
    padding: 0;
    border: none;
    background: transparent;
    cursor: pointer;
}

.logo-button > svg {
    height: 7rem;
}
