:root {
    /** Colors **/
    --background-primary: #FFFFFF;
    --background-secondary: #F0F0F2;
    --primary: #352F59;
    --secondary: #9E99BF;
    --fill-primary: #BFBDF2;
    --fill-secondary: #DDDCF2;
    --video-background: #000000;
}

