:root {
    /** Colors **/
    --background-primary: #FFFFFF;
    --background-secondary: #F0F0F2;
    --background-primary-selected: #E7E6EB;
    --primary: #352F59;
    --secondary: #9E99BF;
    --fill-primary: #BFBDF2;
    --fill-secondary: #DDDCF2;
    --video-background: #000000;
    --card-shadow: #352F591F;
}

/** tags **/
/* Background */
html {
    font-size: 100%;
    font-family: "Noto Sans JP";
}

body {
    background-color: var(--background-secondary);
    padding: 2rem 0;
}

h1 {
    font-size: 2rem;
    margin: 0;
}

p {
    margin: 0;
}

/** Components **/
/* Content View */
.content {
    width: 60%;
    margin: 0 auto;

    /* flex box */
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

/* Header */
.header {
    background-color: var(--primary);
    color: var(--background-primary);
    text-align: center;
    padding: 2rem;
}

/* Section Header */
.section-header {
    color: #352F59;
    font-size: 2rem;
    font-weight: 500;   /* Medium */
    text-align: left;
}

