/* Video Detail*/
/* Player */
video {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    background-color: var(--video-background);
}

/* Details */
.video-detail {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

/* Video information */
.detail-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.detail-title {
    color: var(--primary);
    font-size: 1.5rem;
    font-weight: 500;   /* Medium */
}

.detail-date {
    color: var(--secondary);
    font-size: 1.25rem;
    font-weight: normal;
}
